<div class="bg-light">
  <app-header-web></app-header-web>

  <div class="container py-5">
    <div *ngIf="chi_tiet" class="row g-4">

      <div class="col-lg-8">
        <div class="card shadow-sm border-0 rounded-4 p-4">
          <div
            class="d-flex flex-column flex-md-row justify-content-between align-items-md-center border-bottom pb-3 mb-4">
            <div>
              <h2 class="fw-bold mb-2 text-dark">{{ chi_tiet?.tieu_de }}</h2>
              <p class="text-secondary mb-1">{{ chi_tiet?.viec_lam?.cong_Ty?.ten_cong_ty }}</p>
              <p class="text-muted mb-0">
                <i class="bi bi-geo-alt"></i> {{ chi_tiet?.viec_lam?.dia_diem }}
              </p>
            </div>

          </div>

          <div class="row text-secondary mb-3">
            <div class="col-6 col-md-3 mb-3" *ngFor="let item of [
              {icon:'bi-briefcase', label:'Ngành nghề', value: laynganhnghe(chi_tiet?.viec_lam?.nganh_nghe)},
              {icon:'bi-person-workspace', label:'Vị trí', value: chi_tiet?.viec_lam?.vi_tri},
              {icon:'bi-cash-coin', label:'Mức lương', value: chi_tiet?.viec_lam?.muc_luong},
              {icon:'bi-clock-history', label:'Cập nhật', value: (chi_tiet?.viec_lam?.ngay_cap_nhat | date:'dd/MM/yyyy')}
            ]">
              <i class="bi {{item.icon}} text-primary me-2"></i>
              <strong>{{item.label}}:</strong>
              <div class="ms-4">{{item.value}}</div>
            </div>
          </div>

          <div class="d-flex justify-content-start align-items-center gap-3 flex-wrap">

            <button *ngIf="auth.layThongTinNguoiDung()?.kieu_nguoi_dung == 'nguoi_Tim_Viec'"
              class="btn btn-primary fw-semibold px-4 py-2 mb-2 w-75" (click)="ungTuyenCongViec()">
              <i class="bi bi-send-fill me-1"></i> Ứng tuyển ngay
            </button>

            <button class="btn btn-outline-primary fw-semibold px-4 py-2 mb-2 w-15" (click)="luuViecLam()">
              <i class="bi bi-bookmark me-1"></i> <img src="anh_WEB/anh_icon_WEB/anh_icon_luu_bai.webp"
                style="width:16px;height:16px;margin-right:5px;">Lưu việc làm
            </button>

          </div>



          <div class="mb-4">
            <h5 class="fw-semibold text-dark mb-2">Mô tả công việc</h5>
            <p class="text-muted">{{ chi_tiet?.viec_lam?.mo_ta }}</p>
          </div>

          <div class="mb-4">
            <h5 class="fw-semibold text-dark mb-2">Yêu cầu ứng viên</h5>
            <p class="text-muted">{{ chi_tiet?.viec_lam?.yeu_cau }}</p>
          </div>

          <div class="mb-4">
            <h5 class="fw-semibold text-dark mb-2">Yêu trình độ học vấn yêu cầu</h5>
            <p class="text-muted">{{ layTrinhDoHocVan(chi_tiet?.viec_lam?.trinh_do_hoc_van_yeu_cau) }}</p>
          </div>

          <div class="mb-4">
            <h5 class="fw-semibold text-dark mb-2">Quyền lợi công việc</h5>
            <p class="text-muted">{{ chi_tiet?.viec_lam?.quyen_loi_cong_viec }}</p>
          </div>

          <div class="mb-4">
            <h5 class="fw-semibold text-dark mb-2">Hình thức làm việc</h5>
            <p class="text-muted">{{ layLoaiHinh(chi_tiet?.viec_lam?.loai_hinh) }}</p>
          </div>

          <div class="mb-4">
            <h5 class="fw-semibold text-dark mb-2">Thời gian làm việc</h5>
            <p class="text-muted">{{ chi_tiet?.viec_lam?.thoi_gian_lam_viec }}</p>
          </div>

          <div class="mb-4">
            <h5 class="fw-semibold text-dark mb-2">Hạn nộp cv</h5>
            <p class="text-muted">{{ chi_tiet?.viec_lam?.thoi_han_nop_cv }}</p>
          </div>

          <div>
            <h5 class="fw-semibold text-dark mb-2">Thông tin đăng tuyển</h5>
            <p class="text-muted mb-1">Ngày tạo: {{ chi_tiet?.viec_lam?.ngay_tao | date:'dd/MM/yyyy' }}</p>
            <p class="text-muted mb-0">Ngày cập nhật: {{ chi_tiet?.viec_lam?.ngay_cap_nhat | date:'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card border-0 shadow-sm rounded-4 p-4 text-center">
          <div class="d-flex justify-content-center align-items-center">
            <img *ngIf="chi_tiet?.viec_lam?.cong_Ty?.logo" [src]="taoDuongDanLogo(chi_tiet.viec_lam.cong_Ty?.logo)"
              alt="Logo công ty" class="company-logo mb-3 rounded" />
            <img *ngIf="!chi_tiet?.viec_lam?.cong_Ty?.logo" src="assets/default-logo.png" alt="Logo mặc định"
              class="company-logo mb-3 rounded " />
          </div>

          <h4 class="fw-bold text-dark mb-2">{{ chi_tiet?.viec_lam?.cong_Ty?.ten_cong_ty }}</h4>
          <p class="text-muted mb-3">
            <i class="bi bi-geo-alt"></i> {{ chi_tiet?.viec_lam?.dia_diem }}
          </p>

          <div class="border-top pt-3 text-start">
            <p class="mb-1"><strong>Website:</strong> <a href="#" class="text-decoration-none">www.congty.com</a></p>
            <p class="mb-0"><strong>Quy mô:</strong> 200+ nhân viên</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>