<footer class="footer" role="contentinfo" aria-label="Chân trang">
  <div class="wrap">
    <div class="col">
      <div class="brand">
        <img src="anh_WEB/anh_Logo.png" alt="Logo JobFinder" (click)="trangChu()"/>
        <div>
          <strong>Tìm việc làm</strong>
          <div class="muted-text">Kết nối ứng viên & nhà tuyển dụng</div>
        </div>
      </div>
      <p class="muted-text">
        Tìm việc nhanh — Ứng tuyển dễ dàng — Thông báo theo ngành nghề.
      </p>
    </div>

    <div class="col" *ngIf="!auth?.layThongTinNguoiDung() || auth?.layThongTinNguoiDung()?.kieu_nguoi_dung == 'nguoi_Tim_Viec'">
      <h4>Ngành nghề phổ biến</h4>
      <div class="job-tags">
        <a (click) = "chuyenHuongToiNganhNghe('cong_nghe_thong_tin')" style="cursor: pointer;">Công nghệ thông tin</a>
        <a (click) = "chuyenHuongToiNganhNghe('cham_soc_khach_hang')" style="cursor: pointer;">Chăm sóc khách hàng</a>
        <a (click) = "chuyenHuongToiNganhNghe('marketing')" style="cursor: pointer;">Marketing</a>
      </div>
    </div>

    <div class="col">
      <h4>Liên hệ</h4>
      <ul class="contact-list" style="list-style-type: none;">
        <li>
           <a href="mailto:cong20365@gmail.com">cong20365@gmail.com</a>
           <a href="mailto:cong20365@gmail.com">ltttracntt2311079@student.ctuet.edu.vn</a>
        </li>
        <li>
          
          <a href="https://www.facebook.com/nguyen.ngoc.cong.457170?locale=vi_VN" target="_blank">
            Nguyễn Ngọc Công
          </a>,
          <a href="https://www.facebook.com/ttra.160222?locale=vi_VN" target="_blank">
            Lê Thị Thanh Trà
          </a>
        </li>
        <li> 0396814806, 0523115609</li>
      </ul>
    </div>
  </div>

</footer>
