<div class="container mt-4">
  <h3 class="mb-3">Danh sách dịch vụ</h3>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let tt of danh_sach_dich_vu">
      <div class="card shadow-sm p-3">
        <h5>{{ tt.dich_Vu?.ten_dich_vu }}</h5>

        <strong>{{ tt.dich_Vu?.so_tien | number }} VND</strong>
        <h5 [ngStyle]="{'color': tt.trang_thai_thanh_toan === 1 ? '#FFC107' : '#198754'}">
          {{ hienThiTrangThaiThanhToan(tt.trang_thai_thanh_toan) }}
        </h5>
        <p class="text-muted small">{{ tt.dich_Vu?.ngay_tao | date:'dd/MM/yyyy HH:mm' }}</p>

        <button class="btn btn-primary mt-2" (click)="chonDichVu(tt)">Chọn dịch vụ</button>
      </div>
    </div>
  </div>
  <div class="mt-4 text-center" *ngIf="qrCodeUrl">
    <h5>Quét mã QR để thanh toán</h5>
    <img [src]="qrCodeUrl" alt="QR Code" class="img-fluid" style="max-width: 300px;">
  </div>
</div>