<div class="dashboard-container">
  <div class="dashboard-header">
    <div class="header-content">
      <h1 class="title fw-bold text-center mb-4 border-bottom pb-2 text-dark">Thống Kê Bài Đăng</h1>
    </div>
  </div>
  <div class="content-grid">
    <div class="charts-grid">
      <div class="chart-card">
        <div class="chart-wrapper">
          <canvas #barChart baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'">
          </canvas>
        </div>
      </div>
    </div>

    <div class="list-card">
      <h3>Số lượng ứng viên từng bài</h3>
      <div *ngIf="so_luong_ung_vien_ung_bai?.length > 0; else khongCoDuLieu">
        <ul class="user-list">
          <li *ngFor="let so_luong of so_luong_ung_vien_ung_bai"
            [routerLink]="['/trang-cong-ty', 'trang-danh-sach-ung-vien']">
            <div class="user-item">
              <i class="bi bi-person-circle user-icon"></i>
              <div class="user-info">
                <span class="user-tieu-de">Tiêu đề bài đăng: {{ so_luong.tieu_de }}</span>
                <span class="user-so-luong">Số lượng ứng viên: {{ so_luong.so_luong_ung_vien }}</span>
                <span class="user-date">Ngày tạo bài: {{ so_luong.ngay_tao }}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <ng-template #khongCoDuLieu>
        <p class="no-data">Không có người dùng mới.</p>
      </ng-template>
    </div>
  </div>
</div>