.search-box {
    border-radius: 50px !important;
    border: 2px solid #0d6efd; 
    overflow: hidden; 
    height: 56px; 
}

.search-location-group {
    background-color: white ; 
    border-radius: 50px;
    padding-left: 10px; 
}

.search-select {
    width: 180px; 
    height: 38px; 
    padding: 0.375rem 1.25rem 0.375rem 1rem; 
    background-color: white; 
    color: #0d6efd; 
    border-radius: 50px !important; 
    appearance: none; 
    border: 2px solid #0d6efd; 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"); 
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.search-select:focus {
    box-shadow: none !important; 
    border: 2px solid #0d6efd !important;
}

.search-btn {
    background-color: #0d6efd; 
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    height: 100%; 
    border: none;
    box-shadow: none;
}

.search-box input:focus {
    box-shadow: none !important;
}